<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Post App</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="friends-list">Friends List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post/id">Post 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post/id/edit">Edit Post 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="user/id">User 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="user/id/edit">Edit User 1</a>
              </li>
            </ul>
          </div>
          <div class="meWrapper">
            <app-me-information></app-me-information>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
