// -------------------------------------------------------------------------------------------------
// app-component

#dashboardHeader {
  margin-top: 10px;
  .myInformationOuterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
