<!-- start postsList loop here -->
<div class="postWrapper" *ngFor="let post of postsList$ | async">
  <div class="card">
    <div class="cardHeader">
      <div class="cardUserWrapper">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          alt=""
          height="40"
          width="40"
          class="cardUserPicture"
        />
        <button class="card-text cardUsername" (click)="onSelectUser(post.userId)">
          @{{ post.userName }}
        </button>
      </div>
      <div class="postInteractionWrapper" *ngIf="post.userId == (myUserId$ | async)">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="Post Interaction Menu">
            <button type="button" class="btn btn-secondary" (click)="onEditPost(post)">
              Edit Post
            </button>
            <button type="button" class="btn btn-secondary" (click)="onDeletePost(post)">
              Delete Post
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="card-title cardPostTitle" (click)="onSelectPost(post)">
      {{ post.title }}
    </button>
    <p class="card-text cardPostBody">
      {{ post.body }}
    </p>

    <div class="cardSeeCommentsLinkWrapper">
      <button class="card-text cardSeeCommentsLink" (click)="onSelectPost(post)">
        see all comments
      </button>
    </div>

    <hr />

    <button class="card-text cardWriteCommentLink" (click)="onSelectPost(post)">
      <i class="fa-regular fa-comment"></i> comment
    </button>
  </div>
</div>
<!-- end postsList loop here -->
