// bootstrap
// @import "../node_modules/bootstrap/scss/bootstrap";

// fontawesome
// ...

// variables
$font-family_default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-decoration_default: none;

$background-color_default: #ffffff;
$background-color_1: #f8f9fa;
$background-color_2: #f3f3f3;
$background-color_3: #d6d8d9;

$border-color_1: #d6d8db;
$border-color_2: #c6c8ca;

$color_default: #333333;
$color_white: #f8f9fa;
$color_grey: #808080;
$color_darkGrey: #5a6268;
$color_black: #212529;
$color_red: #fc2323;
$color_blue: #168cfa;
$color_green: #6ba317;

$profilePictureBorder: 1px solid transparent;
$profilePictureBorderRadius: 50%;

// customizations

// -------------------------------------------------------------------------------------------------
// for every page
section {
  margin: 10px auto;
}

// -------------------------------------------------------------------------------------------------
// app-component
#dashboardHeader {
  margin-top: 10px;
  .myInformationOuterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: 992px) {
    .myInformationOuterWrapper {
      display: none;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// header
#header {
  .meInformationWrapper {
    display: none;
  }

  @media (min-width: 992px) {
    .meInformationWrapper {
      display: block;
    }
  }

  // -------------------------------------------------------------------------------------------------
  // me-information

  .meInformationWrapper {
    .meInformationButton {
      border: none;
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      padding-top: 10px;
      padding-bottom: 10px;

      .meProfilePicWrapper {
        margin: auto 5px;

        .meProfilePicture {
          border: $profilePictureBorder;
          border-radius: $profilePictureBorderRadius;
        }
      }

      .meNamesWrapper {
        display: flex;
        flex-direction: column;
        margin: auto 5px;

        p {
          margin-bottom: 0;
        }

        .meUsernameWrapper {
          font-size: 1rem;

          .meUsernameLink {
            border: none;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
          }
        }
        .meNameWrapper {
          font-size: 0.75rem;
        }

        .mePostsLinkWrapper {
          font-size: 0.75rem;

          .meUserPostsLink {
            border: none;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// my-information

.myInformationWrapper {
  .myInformationButton {
    border: none;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    .profilePicWrapper {
      margin: auto 5px;

      .profilePicture {
        border: $profilePictureBorder;
        border-radius: $profilePictureBorderRadius;
      }
    }

    .namesWrapper {
      display: flex;
      flex-direction: column;
      margin: auto 5px;

      p {
        margin-bottom: 0;
      }

      .usernameWrapper {
        font-size: 1rem;

        .usernameLink {
          border: none;
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .nameWrapper {
        font-size: 0.75rem;
      }

      .postsLinkWrapper {
        font-size: 0.75rem;

        .userPostsLink {
          border: none;
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// users-list
#tableWrapper {
  #usersListTable {
    tr {
      td {
        min-width: 12vw;
        padding: auto 0;
        border-radius: 10px;

        button {
          border: none;
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
          width: 100%;

          .tdWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .profilePicWrapper {
              margin: auto 5px;

              .profilePicture {
                border: $profilePictureBorder;
                border-radius: $profilePictureBorderRadius;
              }
            }

            .namesWrapper {
              display: flex;
              flex-direction: column;
              margin: auto 5px;

              p {
                margin-bottom: 0;
              }

              .usernameWrapper {
                font-size: 1rem;

                .usernameLink {
                  border: none;
                  background-color: transparent;
                  padding-left: 0;
                  padding-right: 0;
                }
              }
              .nameWrapper {
                font-size: 0.75rem;
              }

              .postsLinkWrapper {
                font-size: 0.75rem;

                .userPostsLink {
                  border: none;
                  background-color: transparent;
                  padding-left: 0;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// posts-list
.postsListSectionHeader {
  margin-top: 10px;
}
.postWrapper {
  text-decoration: $text-decoration_default;
  color: $color_default;
  margin-bottom: 10px;

  .card {
    padding: 10px;

    .cardHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .cardUserWrapper {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .cardUserPicture {
          border: $profilePictureBorder;
          border-radius: $profilePictureBorderRadius;
        }

        .cardUsername {
          margin-left: 10px;
          border: none;
          background-color: transparent;
          color: $color_default;
        }
      }

      .postInteractionWrapper {
        color: $color_white;
      }
    }

    .cardPostTitle {
      font-size: 1.5rem;
      color: $color_default;
      border: none;
      background-color: transparent;
      text-align: left;
      padding-left: 0;
    }

    .cardPostBody {
      font-size: 1rem;
      color: $color_default;
    }

    .cardSeeCommentsLinkWrapper {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;

      .cardSeeCommentsLink {
        border: none;
        background-color: transparent;
        font-size: 0.7rem;
        color: $color_grey;
        text-align: right;
      }
    }

    .cardWriteCommentLink {
      border: none;
      background-color: transparent;
      font-size: 1rem;
      color: $color_default;
    }
  }
}

#writePostWrapper {
  #writePostCard {
    background-color: $background-color_1;

    #writePostFormWrapper {
      margin-top: 10px;

      #writePostForm {
        .submitPostButton {
          color: $color_default;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// post-detail
#postDetailSection {
  .postWrapper {
    text-decoration: $text-decoration_default;
    background-color: $background-color_1;
    color: $color_default;
    margin-bottom: 10px;

    .card {
      padding: 10px;

      .cardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .cardUserWrapper {
          padding: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .cardUserPicture {
            border: $profilePictureBorder;
            border-radius: $profilePictureBorderRadius;
          }

          .cardUsername {
            margin-left: 10px;
            border: none;
            background-color: transparent;
            color: $color_default;
          }
        }

        .postInteractionWrapper {
          color: $color_white;
        }
      }
    }

    .cardPostTitle {
      font-size: 1.5rem;
      color: $color_default;
    }

    .cardPostBody {
      font-size: 1rem;
      color: $color_default;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// post-detail-edit
#postDetailEditSection {
  .postWrapper {
    text-decoration: $text-decoration_default;
    color: $color_default;
    margin-bottom: 10px;

    .card {
      padding: 10px;

      .cardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .cardUserWrapper {
          padding: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .cardUserPicture {
            border: $profilePictureBorder;
            border-radius: $profilePictureBorderRadius;
          }

          .cardUsername {
            margin-left: 10px;
            border: none;
            background-color: transparent;
            color: $color_default;
          }
        }
      }
    }

    .cardPostTitle {
      font-size: 1.5rem;
      color: $color_default;
    }

    .cardPostBody {
      font-size: 1rem;
      color: $color_default;
    }

    .button-group {
      display: flex;
      flex-direction: row;

      button {
        margin-right: 10px;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// comments-list
#commentsListSection {
  .cardShowCommentsWrapper {
    .commentHeading {
    }

    .commentWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: $background-color_1;
      border: 1px solid $border-color_1;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;

      .commentUserProfilePictureWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .commentUserProfilePicture {
          margin-top: 10px;
          border: $profilePictureBorder;
          border-radius: $profilePictureBorderRadius;
        }
      }

      .commentBodyWrapper {
        margin-left: 10px;
        width: 100%;

        p {
          margin-bottom: 0;
        }

        .commentEmail {
          padding: 0 5px 5px 5px;
          font-size: 0.5rem;
          color: $color_grey;
          font-family: monospace;
          letter-spacing: 1px;
        }
        .commentName {
          padding: 5px;
          font-size: 1rem;
          color: $color_default;
          background-color: $background-color_2;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .commentBody {
          padding: 0 5px 8px 5px;
          font-size: 0.8rem;
          color: $color_default;
          background-color: $background-color_2;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// write-comment

#postDetailSection {
  #input_field_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
      width: 100%;
    }

    #submitButton {
      text-decoration: $text-decoration_default;
      color: $color_default;
      align-self: flex-start;
    }
  }
}

// -------------------------------------------------------------------------------------------------
// user-detail
#userDetailSection {
  margin-bottom: 20px;
  .userDetailWrapper {
    min-width: 100%;

    .card-body {
      #userDetailOperationButtonWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 0;

        button {
          margin-right: 10px;
        }

        #userDetailEditButton {
        }

        #userDetailSubmitButton {
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------
// user-detail-edit page
#userDetailEditSection {
  margin: 10px auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
