// main theme variables
$font-family_default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-decoration_default: none;

$background-color_default: #ffffff;
$background-color_1: #f8f9fa;
$background-color_2: #e2e3e5;
$background-color_3: #d6d8d9;

$border-color_1: #d6d8db;
$border-color_2: #c6c8ca;

$color_default: #333333;
$color_white: #f8f9fa;
$color_grey: #808080;
$color_darkGrey: #5a6268;
$color_black: #212529;
$color_red: #fc2323;
$color_blue: #168cfa;
$color_green: #6ba317;

$profilePictureBorder: 1px solid transparent;
$profilePictureBorderRadius: 50%;

// customizations
