<section id="userDetailEditSection">
  <div class="container">
    <div class="row">
      <div class="col">
        <header>
          <h2>{{ heading }}</h2>
        </header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- start user here -->
              <app-user-detail-edit></app-user-detail-edit>
              <!-- end user here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
